<!DOCTYPE html>
<html>

<head>
    <title>Bitcoin Price Tracker</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>

<body>
    <div class="container mt-4">
        <h1 class="text-center">Bitcoin Daily Price</h1>
        <div class="row">
            <div class="col-md-12">
                {{ plot_html|safe }}
            </div>
        </div>
    </div>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
</body>

</html>